*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(219, 135, 25);
    color: aliceblue;
}
h1{
    text-align: center;
    padding: 10px;
}
img{
    width: 50%;
    height: auto;
}
